# Env
.env
.env.local

# Node
node_modules/
dist/
build/
.cache/

# Volumes locaux
volumes/

# MkDocs build
site/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

coverage/

# VitePress
docs/.vitepress/dist
docs/.vitepress/cache

# Root
/node_modules
